[mozdef]
# This section defines how we connect to the MozDef server
#
# An optional 'stop sending events' flag.
send_events = True

# Send event additionally to syslog
send_to_syslog = False
# Only send to syslog (never send to mozdef url)
syslog_only = False

# The URL of your host is the main item needed.
# Mandatory if send_events is (default) True
# Can be missing if send_events is declared False
mozdef_url = https://your-host-here:8443/events

[testing]
# The 'testing' section contains information for the unit tests.
# A production instance can/should empty this.
